
.bodycuatro{
	grid-row: 2/3;
	display: grid;
	grid-template-columns: 1fr 3fr 1fr;
	grid-template-rows: 1fr;
	background: var(--fondosecundario);
}
.main-articulo{
	grid-column: 2/3;
	grid-row: 1/2;

}

.zonaverde{
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 3fr repeat(9, 1fr);
	margin-top: 2em;
}

.zona-titulo{
	display:grid;
	justify-content: center;
	align-items: center;
	background: var(--gradient-naranja);
}