
.arbol-caja{
	grid-column: 1/2;
	grid-row: 2/3;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr .5fr; 
}
/*H1 PRINCIPAL DEL BANNER DEL INDEX*/
.titulo-banner{
	grid-column: 1/span 3;
	margin-top: 1em;	
	background-color: #28ea89;
	background-image: var(--gradient-verde);
	font-weight: normal;
	height: 6em;
	display: flex;
	justify-content: center;
	align-items: center;
	border-width: 0px 0px 1px 0px;
	border-style: solid;
	border-color: #43c665;


}
.subtitulo-banner{
	grid-column: 1/span 3;
	text-align: center;
	margin-top: 1em;
	background: var(--gradient-naranja);
	padding-top: 1em;
	padding-bottom: 1em;
	font-weight: normal;
}

.googlemaps{
	grid-column: 2/span 2;
	grid-row: 2 /span 2;
	border-style: solid;
	border-radius: 10px;
	border-color: gray;
	border-width: 1px 1px 1px 1px;
}
.arbol{
	grid-column: 1/2;
	grid-row: 1/span 2;
}

.caja-logos{
	grid-column: 1/2;
	grid-row: 3/4;
	background-image: gray;
}

.articulo-banner{
	grid-column: 2/span 2;
	grid-row: 2/3;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
	grid-template-rows: 4em 1fr;
	background: var(--fondosecundario);
	margin-top: 1em;
	margin-bottom: 3em;
  	overflow-x: auto;
  	white-space: nowrap;
  	overflow-y: hidden;
  	margin-right: 2em;
}
.articulo-banner-dos{
	grid-column: 2/span 2;
	grid-row: 2/3;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
	grid-template-rows: 1fr;
	background: var(--fondosecundario);
	margin-top: 1em;
	margin-bottom: 3em;
  	overflow-x: auto;
  	white-space: nowrap;
  	overflow-y: hidden;
}

.banner-colonia{
	grid-column: 1/ span 3;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr;
	background-color: #cdd1d1;
	background-image: var(--bannergradient);
	border-width: 0px 1px 0px 0px;
	box-shadow: 2px 2px 2px gray;
	grid-gap: 1em 1em;
}
.form-agregar-caja{
	display: none;
}
.form-agregar{
	display: flex;
	margin: 1em;
	justify-content: center;
	grid-gap: 1.3em;
	align-items: center;
}

.colonia-caja{
	grid-column: 2/ span 2;
	grid-row: 2/3;
	background: var(--fondosecundario-hsla);
	padding: 1em;
}


/*GRID DE TODAS LAS COLONIAS, TIPOS Y CPOSTALES*/
.colonias-todo{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-template-rows: 1fr;
	grid-gap: 1em 1em;
}


/*GRID INDIVIDUAL DE LO DE ARRIBA*/
.colonia-contenedor{
	width: 19em;
	height: 12em;
	display: grid;
	justify-content: var(--center);
	align-items: var(--center);
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 2em;
	grid-gap: 1em;
	margin-bottom: 1em;
	padding-bottom: 1em;
	border-width: 1px 1px 1px 1px;
	border-style: solid;
	border-color: #b1aaaa;
	/*box-shadow: 2px 2px 2px #b0bbb5;*/
	transition: transform .5s;
}

/*HOVER DE LO DE ARRIBA*/
.colonia-contenedor:hover{
	transform: translateY(10px);
}

/*TITULO DEL CONTENEDOR DE ARRIBA*/
.colonia-titulo{
	grid-column: 1/span 2;
	grid-row: 1/2;
	display: flex;
	justify-content: var(--center);
	align-items: var(--center);
	text-align: var(--center);
	color: #513f3f;
	background-color: #a7f2e9;
	background-image: linear-gradient(90deg, #a7f2e9 0%, #9fe6d5 100%);
	font-size: 1.3em;
	height: 7em;
	width: 100%;
}

.colonia-titulo:hover{
	background-color: #e2f2f3;
	background-image: none;
	transition: all .4s;

}


.colonia-sobra{
	grid-column: 1/span 2;
	grid-row: 2/3;
	background: transparent;
	height: 2em;
	text-align: center;
	margin-bottom: .6em;
	color: #bd4a4a;
	display: flex;
	justify-content: center;
	align-items: center;
}

.borrarlo{
	color: red;
}

.colonia-sobra a{
	color: white;
	background: #47403f;
	padding: 0.6em;
	width: 100%;
}

.colonia-sobra a:hover{
	transition: background-color .4s;
	background-color: tomato; 
}

.buscar-colonia{
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 7em;
}

.mayuscula{
	text-transform: uppercase;
}

.centrado{
	display: flex;
	justify-content:center;
	align-items: var(--center);
	text-align: center;
	width: 60em;
}


@media (max-width: 1400px) {
  .colonias-todo{
  	grid-template-columns: 1fr 1fr 1fr;
  	grid-template-rows: 1fr;
  }
}

.info-banner{
	grid-column: 1/span 3;
	background: #ececbb;
	display: flex;
	justify-content: center;
	align-items: center;
}

.info-sub-banner{
	grid-column: 1/span 3;
	grid-row: 2/3;
	display: flex;
	justify-content: center;
	align-items: center;
	background: #4ee7a6;
}

.info-card{
	background: #dbdbd3;
	margin-top: 1em;
	padding: 1em;
	border-radius: 20px;

}

.info-card p{
	font-size: 1em;
}

.info-card .titulo{
	font-size: 1.4em;
	height: 2em;
	display: flex;
	justify-content:center;
	align-items: center;
	color: #148d6f;
}