
@import url('https://fonts.googleapis.com/css?family=Merriweather|Merriweather+Sans');
/*	ESTRUCTURA DEL FEED*/
.feed{
	display: grid;
	grid-template-columns: 15em 1fr .3fr;
	grid-template-rows: 1fr;
	grid-gap: 1em;
	background: #f0f0f0;
	color: var(--letracolor);
	margin-top: 4em;

}

.feed-header{
	margin-top: .4em;
	grid-column: 1/span 3;
	grid-row: 1/2;
	height: 4em;
	background-color: #28ea89;
	background-image: var(--gradient-verde);
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: 'Merriweather';
	font-size: 1.2em;
	border: 1px solid #43c665;
	border-width: 0px 0px 1px 0px;
}
.menu-aside{
	background: white;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 14em 1fr;
	border-width: 1px 1px 1px 0px;
	border-color: #cacfd2;
	border-style: solid;
	max-height: 40em;
	position: fixed;
	margin-top: 5em;
	min-width: 15em;

}

.aside-caja{
	margin-top: -4.3em;
}
.boton a{
	color: var(--botonletra);
}
.menu-aside div{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border-style: solid;
	border-width: 0px 0px 1px 0px;
	border-color: gray;
	padding-bottom: 1em;
	background: #f0f0f0;
	}

.menu-aside div img{
	width: 7em;	
	border-radius: 50px;
	margin: auto;
	margin-top: 1em;
	padding-left: .4em;
	padding-right: .4em;
	padding-bottom: -.3em; 
	animation: App-logo-spin infinite 5s linear;
}


@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}


.menu-aside ul{
	background: #d7eab1;

	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;

}

.menu-aside li{
	display: grid;
	align-items: center;
	min-height: 2em;
	padding-left: 1em;
	width: calc(100% - 1em);
	cursor: pointer;
	padding-top: 1em;
	padding-bottom: 1em;
	width: 100%;
	transition: transform .3s;

}
.menu-aside li a{
	color: black;
}
.menu-aside li:hover{
	border-width: 0px 4px 0px 0px;
	border-style: solid;
	border-color: gray;
	background: #68ef9e;
	transform: scale(1.1);
}
}

.feed-main{
	grid-column: 2/3;
	grid-row: 1/2;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr;
	overflow: auto;
	max-height:50em;
	grid-gap: 1em;
	justify-content: center;
}

.feed-agregar-articulo{
	grid-column: 2/3;
	grid-row: 2/3;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows:  5em 5em  1fr;
	height: 75em;
	padding: 1em;

}

.feed-misdatos{
	grid-column: 2/3;
	grid-row: 2/3;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows:  5em 5em  1fr;
	height: 120vh;
	padding: 1em;
}

.publicacion{
	display: grid;
	grid-template-columns: 6em .3fr 1fr;
	grid-template-rows: 1fr .7fr;
	background: transparent;
	margin-bottom: 1.5em;
	max-height: 11em;
	align-items: center;
	margin-left: 2em;
	margin-right: 2em;
	padding: .4em;
	border-style: solid;
	border-color: #ccbebe;
	border-width: 1px;
	border-radius: 8px;
	transition: transform .4s;
	margin-bottom: 1.3em;

}

.publicacion:nth-child(even){
	background: #e9e6d9;
}


.publicacion:hover{
	transform: translateX(20px);
}


.publicacion img{
	display: flex;
	width: 3.8em;
	padding-left: .4em;
	padding-right: .4em;
	background: #d5d3a8;
	border-radius: 4px;

}

.publicacion-fecha{
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

.publicacion-nombre{
	display: flex;
	justify-content: center;
	align-items: center;
	background: #9ae9d2d6;
	color: #383551;
	border-radius: 20px;
	font-size: 1.1em;
	padding: .3em;
	border: 1px solid #b7bae0;
}

.publicacion-textarea{
	display: grid;
	margin: auto;
	

}
.img-publicacion{
	background: transparent;
	border-radius: 8px;
	width: 4.8em;
	display: flex;
	justify-content: center;
}
.cuerpo-publicacion{
	grid-column: 1/span 3;

}

.publicacion-textarea textarea{
	white-space: nowrap;
}

.publicacion-textarea input{
	width: 4em;
	font-size: 1em;

}
.feed-letras{
	display: flex;
	justify-content: center;
	font-family: 'Merriweather';
	font-size: 1.2em;
	margin-top: 3em;
	height: 4em;
}

.feed-titulo{
	background: transparent;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: .5em;
	padding: .5em;
	font-size: 1.2em;
	height: 5em;
}


.feed-form-areasverdes{
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: repeat(14 1fr);
	grid-gap: 1em;
	margin-bottom: 2em;
	margin-top: 1em;
	height: 50em;

}

.feed-input{
	height: 2.5em;
	border: 1px solid  #b0b4b7 ;
	font-size: 1em;
	padding-left: 1em;
	padding-top: .2em;
}



.feed-input:focus{
	background: #bee4df;
	border: 1px solid #90cec6;
}

.feed-form-areasverdes [type='submit']{
	height: 2em;
	cursor: pointer;
}



.asidetres {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 5em 1fr;
	margin-top: 4em;
}

.notas-pendientes{
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr 1fr;
	grid-gap: 1em;
	font-size: 1.2em;
	height: 3em;
}

.notas-pendientes div{
	background: red;
}

.bandeja{
	display: grid;
	grid-template-columns: 5em 8.5em 1fr 1em 5em;
	grid-template-rows: 1fr;
	background: #e9efec; 
	align-items: center;
	border-style: solid;
	border-width: 1px;
	border-color: #7bd2b6;
	border-radius: 7px;
	margin: 2em;
	transition: transform .4s;
}

.bandeja:hover{
	transform: translateY(10px);
}

.mensaje-main{
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 4em  1fr;
	align-items: center;
	margin-top: 2em;


}

.bandeja div{
	display: grid;
	justify-content: center;
	align-items: center;
	height: 4em;
}
.bandeja div:nth-child(2){
	padding-left: .5em;
	width: calc(100% - .5em);

}
.msn a{
	padding-left: .5em;
	width: calc(100% - .5em);
	height: 100%;
	display: flex;
	align-items: center;
	color: #543e62;

}


.mensaje-recibido{
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 5em 1fr;
	height:41em;
	overflow: auto;

}

.mensaje-contenido{
	display: grid;
	grid-template-columns: 3fr 1fr;
	grid-template-rows: 3em 1fr;
	background: #dbefe6;

	border: 1px solid #ccbfbf;
	margin-top: 3em;
	margin-bottom: 2em;
}

.mensaje-contenido p:nth-child(1){
	grid-column: 1/2;
	grid-row: 1/2;
	display: flex;
	align-items: center;
	background: #87d6ec;
	padding-left: .4em;
	color: #195163;
	border-width: 0px 0px 1px 0px;
	border-style: solid;
	border-color: #60b9e3;
}
.mensaje-contenido p:nth-child(2){
	grid-column: 2/3;
	grid-row: 1/2;
	display: flex;
	align-items: center;
	background: #87d6ec;
	padding-left: .4em;
	color: #195163;
	border-width: 0px 0px 1px 0px;
	border-style: solid;
	border-color: #60b9e3;
}

.mensaje-contenido p:nth-child(3){
	grid-column: span 2;
	grid-row: 2/3;
	display: flex;
	padding: 1em;
	color: #195163;
}

.no-leido{
	display: flex;
	flex-direction: column;
	background: #f9e86a;
	height: 100%;
	border-top-left-radius: 7px;
	border-bottom-left-radius: 7px;
	animation-name: no-leido, color;
	animation-duration: 2s;
	animation-iteration-count: infinite;
}

@keyframes no-leido{

	100%{
		background: #fcbc05;
	}
}

@keyframes color{
	50%{
		color: gray;
	}
	100%{
		color: red;
	}
}

.leido{
	background: #7bb3e3;	
	display: flex;
	flex-direction: column;
	height: 100%;
	border-top-left-radius: 7px;
	border-bottom-left-radius: 7px;
}

.bandeja-borrar{
	background: #de7777;	
	display: flex;
	flex-direction: column;
	height: 100%;
	border-top-right-radius: 7px;
	border-bottom-right-radius: 7px;
}

.bandeja-borrar:hover{
	background: tomato;
	transition: .5s;
}

.bandeja-borrar a{
	display: flex;
	height: 100%;
	align-items: center;
	color: black;
}

.bandeja-borrar a:hover{
	color: white;
	transition: .6s;
}
.botonmensaje{
	position: absolute;
	margin-left: 53em;
	margin-top: -73em;

}

.botonmensaje a{
	color: var(--botonletra);

}

.aside-textarea{
	display: flex;
	flex-direction: column;
}

.aside-textarea textarea{
	width: 3em;
}

.textarea-contenedor{
	margin-left: 3em;
}

.comentario-form textarea{
	width: calc(100% - 3em);
	border: 1px solid  #b0b4b7 ;
	font-size: 1.2em;
	padding-left: 1em;
	padding-top: 1em;
	border-radius: 20px;
	
}

.comentario-form textarea:focus{
	background: #bee4df;
	border: 1px solid #90cec6;
	transition: .4s;
}

.mensaje-view{
	display: flex;
	justify-content: center;
	align-content: center;

}


.mensajes-list{
	overflow: auto;
	height: 60em;
	margin-top: 1em;
}

.form-mensaje{
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: .7fr 1fr .7fr 1fr .7fr 15fr 1fr;
	grid-gap: .4em;
	margin-top: 2em;
	margin-bottom: 2em;
}


.form-mensaje textarea:focus{
	background: #bee4df;
	border: 1px solid #90cec6;
}

.mensaje-input{
	border: 1px solid  #b0b4b7 ;
	font-size: 1em;
	padding-left: .3em;
	padding-top: .3em;

}
.mensaje-input:focus{
	background: #bee4df;
	border: 1px solid #90cec6;
	transition: .4s;
}

.form-mensaje [type="submit"]{
	height: 2.2em;
	cursor: pointer;
}

.datos-form{
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: .7fr 1fr .7fr 1fr .7fr 1fr 1fr;
	grid-gap: .5em;
	margin-top: 2em;
	margin-bottom: 2em;
	height: 60vh;
}

.datos-form [type="submit"]{
	height: 2.2em;
	cursor: pointer;
}

.titulo-datos{
	margin-top: 2em;
	text-decoration-style: none;
	display: flex;
	justify-content: center;
}

#map{
	grid-column: 2/4;
	width: 100%;
	background: #f0f0f0;
	height: 50em;
	margin-top: 1em;
	z-index: 2;
	margin-top: 1.7em;
	margin-bottom: 4em;
	margin-right: 1em;
}

#map::before{
	content: 'cargando...';
	color: gray;
	font-size: 3em;
	font-family: 'Merriweather';
	display: flex;
	justify-content: center;

}

.footertres{
	grid-column: 1/span 3;
	grid-row: 3/4;
}

.basura-editar{
	height: 2.4em;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 1.5em;
}

.editar-submit{
	margin-left: 5em;
	margin-right: 5em;

}